:root {

    --text-color-main: #253D62;
	--text-color-darkbg: #fff;
	--text-color-soft: #75859E;
    --text-color-light: #5CA5B6;

    --text-color-accent: #00C2FF; /* link hover */
	
	--background-color: white;			
	--background-color-softer: #EAF5FA;
    --background-grad-dark: #7CC2D8;
    --background-grad-light: #A1E3FF;

}

 /* =========================================================================== */
 /* Mapbox */
 /* =========================================================================== */

.map-container {
    width: 100%;
    height: 400px;
    margin: 40px 0;
    border-radius: 20px;
    box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.1);
}

.map-container a:link {
    outline : none;
}

.mapboxgl-ctrl-attrib-button {
    padding: 0;
}

 /* =========================================================================== */
 /* Layout */
 /* =========================================================================== */
html, body {
    height: 100%;
} 

body > div { 
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 165px;
    position: relative;
    background-color: var(--background-color-softer);
}

 .container {
    margin: 0 100px;
}

header {
    height: 80px;
    background-color: #fff;
}

header form {
    float: right;
    margin-top: 20px;
}

header nav {
    height: 54px;
    vertical-align: bottom;
}

header ul {
    margin: 0 0 0 20px;
    padding: 0;
    vertical-align: text-bottom;
}

header ul li {
    padding-right: 20px;
}

header h1, header nav, header ul li {
    display: inline-block;
}

main {
    padding-top: 36px;
}

/* need to adjust height on this and on body > div to stick footer */
footer { 
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 32px 100px;
    height: 165px;
    width: 100%;
    background-image: linear-gradient(var(--background-grad-light), var(--background-grad-dark));
    display: flex;
    justify-content: space-between;
}

footer nav img {
    width: 24px;
    height: 24px;
    margin: 0 7px -6px 0;
}

footer aside {
    width: 500px;
}


 /* =========================================================================== */
 /* Home */
 /* =========================================================================== */

.intro {
    margin: 70px 0 0;
    background-color: #32bcf9;
    background-image: url("/public/images/bluekayaker.jpg");
    background-size: 450px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: top -180px left 80px;
    color: var(--text-color-darkbg);
    padding: 40px 0 50px 500px;
    box-sizing: border-box;
}

.intro h3 {
    font-size: 4.3rem;
    font-family: 'Rubik';
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.8rem;
}


 /* =========================================================================== */
 /* River Detail */
 /* =========================================================================== */

.detailBody {
    background-color: #fff;
    width: 100%;
    padding: 50px 0;
}

.detail .container {
    padding-bottom: 24px;
}

p.mustLogin:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 26px;
    margin-right: 9px;
    background-image: url("/public/images/favheart.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 30px;
}

p.mustLogin:before {
    opacity: 0.3;
}

button.fav, button.unfav {
    border: none;
    padding: 0;
    color: var(--text-color-main);
    font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    background-image: url("/public/images/favheart.png");
    background-size: 30px;
    background-repeat: no-repeat;
    height: 26px;
    line-height: 26px;
    padding-left: 36px;
}

button.unfav, button.unfav:hover, button.fav:hover {
    background-position: top -27px left 0;
}


 /* =========================================================================== */
 /* Favorites */
 /* =========================================================================== */

.grid-container.halves {
    padding-bottom: 50px;
    max-width: 100%;
}

.grid-container > div {
    text-align: left;
    background-color: #fff;
    padding: 35px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.1);
}

.grid-container h3 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-bottom: 12px;
}

.grid-container a:link {
    text-decoration: none;
}

.grid-container p {
    margin: 0;
    line-height: 1.9rem;
}

.grid-container span {
    font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
}

.grid-container .weather {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.page {
    text-align: left;
}



 /* =========================================================================== */
 /* Weather */
 /* =========================================================================== */

.weather {
    float: right;
    background-image: url("/public/images/weather.png");
    background-size: 54px;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    background-position: top 0 left 0;
}

.storm {background-position: top -330px left 0;}
.lightRain {background-position: top -185px left 0;}
.rain {background-position: top -262px left 0;}
.snow {background-position: top -407px left 0;}
.clear {background-position: top 0 left 0;}
.partCloud {background-position: top -76px left 0;}
.clouds {background-position: top -128px left 0;}


 /* =========================================================================== */
 /* Typography */
 /* =========================================================================== */

body {
    font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
    color: var(--text-color-main);
}

h1 {
    font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    line-height: 80px;
    color: var(--text-color-main);
}

.account h4 {
    margin-bottom: 30px;
}

header a {
    text-decoration: none;
}

nav ul li {
    font-style: italic;
    font-size: 1.8rem;
}

a:link, a:visited {
    color: var(--text-color-main);
}

a:hover {
    color: var(--text-color-accent);
}

.button-primary {
    font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.4rem;
    font-style: italic;
    color: var(--text-color-darkbg);
}

footer nav ul li {
    list-style: none;
    font-size: 1.6rem;
    font-style: normal;
}

footer nav ul li a {
    text-decoration: none;
}

footer nav ul li a:hover {
    color: var(--text-color-darkbg);
}

footer aside {
    font-size: 1.4rem;
    text-align: right;
    color: var(--text-color-soft);
}

footer aside {
    font-size: 1.4rem;
    text-align: right;
    color: var(--text-color-soft);
}

footer aside .author {
    font-style: italic;
}

footer aside .hb {
    font-size: 1.2rem;
}


 /* =========================================================================== */
 /* D3 Chart */
 /* =========================================================================== */

#riverChart {
    background-color: #C3F3FF;
    border-radius: 20px;
    padding-bottom: 25px;
    box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.1);
}

.chartContainer {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.chartContainer h4 {
    font-size: 1.4rem;
}

.chartContainer p {
    font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
}

.currentTip, .seasonalTip, .historicalTip {
    position: absolute;
    width: 114px;
    color: var(--text-color-darkbg);
    background-image: url("/public/images/favspritesheet.png");
    background-size: 150px;
    background-repeat: no-repeat;
}

.seasonalTip, .historicalTip {
    left: 420px;
    width: 150px;
    height: 37px;
    background-position: bottom 0 left 0;
    padding: 5px 30px;
}

.currentTip {
    background-position: top 0px left 0px;
    background-position: top 0px left 0px;
    width: 110px;
    height: 23px;
    padding: 20px;
    right: 130px;
}

.chartContainer div::before{
    height: 35px;
    width: 35px;
    background-color: inherit;
    border: inherit;
    /* position: absolute; */
    /* left: -10px; */
    /* left: calc(50% - 10px); */
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(45deg);
    border-radius: 0 0 0 0.25em;
}


 /* =========================================================================== */
 /* Forms */
 /* =========================================================================== */

input {
    width: 160px;
    margin-right: 6px;
}

header button {
    vertical-align: top;
    padding: 0 24px;
}

::placeholder {
    font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
    color: #75859E;
    font-size: 1.4rem;
}

.account input {
    width: 300px;
    display: block;
    margin-bottom: 20px;
}


 /* =========================================================================== */
 /* Media Queries */
 /* =========================================================================== */

@media (max-width: 1150px) {
    header {
        height: auto;
    }
    header form {
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
    }
    header nav {
        margin-top: 20px;
        float: right;
    }
}

/* Larger than phablet */
@media (max-width: 700px) {
    header h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-top: 20px;
        display: block;
    }
    .container {
        margin: 0 40px;
    }
    .detailBody .container {
        margin: 0;
    }
    .seasonalTip, .historicalTip {
        left: 20px;
    }
    header nav {
        float: none;
        margin: 0;
    }
    header nav ul {
        margin: 0;
    }
    header input {
        display: block;
        margin-bottom: 10px;
    }
    body > div { /*undo footer pinned to bottom*/
        padding: 0
    }
    .intro {
        height: auto;
        padding: 20px;
        margin: 70px 0 0;
        background-image: none;
    }
    footer {
        height: auto;
        margin-top: 70px;
        position: inherit;
        box-sizing: content-box;
        height: auto;
        width: auto;
        padding: 20px 40px;
    }
    footer aside {
        display: none;
    }
}

/* Larger than tablet */
@media (min-width: 1200px) {}