{% extends 'base.html' %}
{% block title %}Favorites{% endblock %}

{% block body %}
<h1>Favorites</h1>

<dl>
{% for river in rivers %}
    <dt><a href="/river-detail/{{river.usgs_id}}">{{ river.name }}</a></dt>
    <dd id="id{{river.usgs_id}}">
        <ul>
            <li>{{river.cfs}}</li>
            <li class="history"></li>
            <li class="seasonal"></li>
            <li class="weather"></li>
        </ul>
        <form id="fav{{river.usgs_id}}" action="/unfav-river/{{ river.usgs_id }}" method="POST">
            <input type="hidden" name="river_id" value="{{ river.river_id }}">
            <button type="submit">Remove from favorites</button>
        </form>
        <a href="#">get notified</a>
    </dd>
{% endfor %}
</dl>
{% if prev_page %}
    <p><a href="/view-favs?user-id={{user_id}}&page={{prev_page}}">Prev Page: {{prev_page}}</a></p>
{% endif %}
{% if next_page %}
    <p><a href="/view-favs?user-id={{user_id}}&page={{next_page}}">Next Page: {{next_page}}</a></p>
{% endif %} 
{% endblock %}

{% block after_body %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script id="parser" data-usgsIds="{{ usgs_ids }}" data-cfsValues="{{ cfs_values }}" src="/static/js/parse-river-data.js"></script>
{% endblock %}
