{% extends 'base.html' %}

{% block scripts %}
<style>
    #map {
        width: 500px;
        height: 500px;
    }
</style>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>
{% endblock %}

{% block title %}Welcome to Current{% endblock %}


{% block body %}
<h1>Welcome</h1>

<a href="/create-account">Create an account</a>

<form action="login" id="login" method="POST">
    <label for="email">email</label>
    <input type="text" name="email">
    <label for="password">password</label>
    <input type="password" name="password">
    <button type="submit">Log In</button>
</form>

<div id="map"></div>
{% endblock %}


{% block after_body %}
<script>
//
// Display the mapbox
//
mapboxgl.accessToken = '{{ mb_key }}';
let map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/outdoors-v11', // style URL
    center: [-103.77, 44.96], // starting position [lng, lat] ---right now is US geographical center. Maybe change to SF CA
    zoom: 8 // starting zoom
});
</script>
<script src="static/js/locate-rivers.js"></script>
{% endblock %}
