{% extends 'base.html' %}
{% block title %}Welcome to Current{% endblock %}

{% block body %}
<h1>{{ river['name'] }}{{ usgs_id }}</h1>

    <!-- TODO: check to make sure a value exists before displaying it -->

    <p>current flow: <b>{{ river['cfs'] }} cfs</b></p>
    <p>current gage height: <b>{{ river['gage_height'] }} ft</b></p>
    <!--<p>current stream level: <b>{{ river['stream_level'] }}</b></p>
    <p>current temp (C): <b>{{ river['temp'] }}</b></p>-->
    <p id="historical-values"></p>
    
    {% if session['user_id'] %}
        <!-- TODO: Only show this link if the user is logged in. Toggle to unfav if they're logged in and already have it saved-->
        <form id="fav" action="/fav-river/{{usgs_id}}" method="POST">
            <button type="submit">Fav me</button>
        </form>
    {% endif %}

{% endblock %}

{% block after_body %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script id="parser" data-usgsId="{{ usgs_id }}" src="/static/js/parse-river-data.js"></script>
{% endblock %}
