{% extends 'base.html' %}

{% block title %}{{ river_data['name'] }}{% endblock %}

{% block body %}

<h1>{{ river_data['name'] }}</h1>

    <!-- TODO: check to make sure a value exists before displaying it -->

    <p>current flow: <b>{{ river_data['cfs'] }} cfs</b></p>
    <p>current gage height: <b>{{ river_data['gage_height'] }} ft</b></p>
    {% if river_data['temp'] %}
        <p>current temp (C): <b>{{ river_data['temp'] }}</b></p>
    {% endif %}
    <p id="hist{{river_data['usgs_id']}}"></p>
    <p>weather code: {{weather.condition_id}}</p>
    <p>weather description: {{weather.weather_desc}}</p>

    <svg id="chart"></svg>

    {% if session['user_id'] and not fav %}
        <form id="fav" action="/fav-river/{{ river_data['usgs_id']}}" method="POST">
            <input type="hidden" name="river_id" value="{{river_data['river_id']}}">
            <button type="submit">Fav me</button>
        </form>
    {% elif fav %}
        <form id="fav" action="/unfav-river/{{ river_data['usgs_id']}}" method="POST">
            <input type="hidden" name="river_id" value="{{river_data['river_id']}}">
            <button type="submit">Unfav me</button>
        </form>
    {% else %}
        <p>log in to fav me</p>
    {% endif %}

{% endblock %}

{% block after_body %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script id="parser" data-usgsIds="{{ river_data['usgs_id'] }}" data-cfsValues="{{ river_data['cfs'] }}" src="/static/js/parse-river-data.js"></script>
{% endblock %}
